section.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 5%;
    font-family: "Inter";
    font-size: 30px;
}

div.item { 
    background-color: #ffffff;
    padding: 0px 60px;
    font-size: 30px;
}

var{
    text-align: center;
}